<h1>Edit <%= @customer.name %>'s Profile</h1>
<p>
	<%= link_to "Go Back", @restaurant %>
</p>

<%= render 'form' %>


<%= link_to "Delete Your Profile", @customer,  method: :delete, data: { confirm: "Are you sure you want to leave OmNom.com?" } %>
