<h1><%= @customer.name %></h1>
<p><%= @customer.email %></p>
<p><%= link_to "Home", root_path %> 

	<% if current_user && current_user.id == @customer.id && current_user.is_a?(Customer) %>
		| <%= link_to "Edit", edit_customer_path(@customer) %>
	<% end %>
</p>