<h1>Edit Restaurant</h1>
<p>
	<%= link_to "Go Back", @restaurant %>
</p>

<%= render "form" %>

<p>
	<%= link_to "Delete Restaurant", @restaurant, method: :delete, data: {confirm: "Are you sure you want to do this?"} %>
</p>
